/* For screens smaller than 768px (mobile devices) */
@media only screen and (max-width: 767px) {

    /* Set the width of the ProductImage slider to 100% and display as a horizontal slider */
    .ProductImage-slider {
      width: 100%;
      display: flex;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
    }
    .ProductImage-slider > * {
      flex-shrink: 0;
      flex-grow: 1;
      scroll-snap-align: center;
      height: 100%;
      width: 100%;
    }
    
    /* Move the product details component below the ProductImage slider */
    .ProductDetails {
      margin-top: 20px;
    }
  }
  